html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Contenido de site.css */

/* Estilos para el encabezado */
/*.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: #ffffff;
}*/

/* Estilos para la imagen ilustrativa */
/*.logo {
  width: 150px;
  height: auto;
}*/

.logo {
  position: absolute;
  top: 50px;
  right: 10px;
  width: 150px;
  height: auto;
}

.logo_secundario {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 250px;
  height: auto;
}

